:root {
}

.windows-button {
}

.windows-button:active {
    -unity-background-image-tint-color: rgb(144, 135, 135);
}







.research {
    position: absolute;
    top: 397px;
    left: 0;
    translate: 0 100%;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.research-up {
    translate: 0 0%;
}
